.banner {
    background-color: black;
    padding: 10px 0px;

}

.banner__text {
    color: white;
    font-size: 14px;
}

.banner__text a {
    font-weight: 500;
    text-decoration: underline;

}

.banner__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner__close {
    cursor: pointer;
    position: absolute;
    right: 0;
}