.header {
    padding: 30px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
}

.header__controls-item {
    width: 24px;
    height: 24px;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 10px;
}